body{
    text-align: center;
    background-color: aqua;
    color: brown;
}
header{
    color: rgb(242, 0, 255);
     background-color: rgba(255, 255, 255, 0.664);
     font: arial;
     padding: 40px, 20px; 
     border-radius: 10px;
     text-align: center;
}
img{
    width: 200px;
    height: 300px;
    align-items: center;
}

.container {
    padding: 40px 20px;
    color: beige;
    margin: 40px auto;
    background-color:red;
    box-shadow: 0 0 15px rgb(0, 0, 0)
}

h2{
    margin-top: BLUE;
}
ul{
    padding-left: 20px;
}

