body{
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(255, 0, 217);
}
header{
    color: rgb(45, 10, 46);
     background-color: rgba(255, 255, 255, 0.664);
     padding: 40px, 20px; 
     border-radius: 10px;
     text-align: center;
}
header img{
 width: 120px;
    border-radius: 10px;
}

.container {
    padding: 40px 20px;
    color: rgb(5, 4, 18);
    margin: 40px auto;
    background-color:rgb(215, 241, 250);
    box-shadow: 0 0 15px rgb(0, 0, 0)
    border;
}

h2{
    margin-top:rgb(3, 5, 16)
    ;
}
ul{
padding-left: 20px;
}

